
$gray:rgb(207, 207, 207);
$babyblue:#6b7aad;

/*ESTILOS GENERALES*/
* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

nav{
    z-index: 1;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    background-color: black;
    a{
        color: $gray !important;
        img{
            margin: 5px 20px 5px 5px;
        }
    }
    .navbar-brand{
        font-size: 28pt;
    }
    .navbar-toggler{
        background-color: $gray !important;
    }
}   

footer{
    background-color: black;
    color: $gray;
}

/*INDEX*/
main{
    margin-top: 97px;
}

.main{
    
    background: url("../img/mainpic.png");
    color: $gray;
    background-size: cover;
    background-position: center;
    .maintext{
        h2{
            color: $gray;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}

.call2{
    background-image: url("../img/jumbopic.png");
    background-position: center;
    background-size: cover;
    color: $gray;
    h1{
        font-weight: 900 !important;
    }
    .call2btn{
        background-color: $babyblue !important;
    }
}

.jumbotron{
    padding-top: 5%;
    padding-bottom: 5%;
}

/*FAQ*/

.faq{
    h1{
        padding: 25px;  
        text-align: center;
    }
}

/*ABOUT*/

.about{
    padding: 35px;
    .integrante{
        background-color: $gray;
        .card-title{
            background-color: $babyblue;
        }
        .card-text{
            text-align: justify;
        }
    }

}

/*CONTACTO*/
.main-contacto{
    padding: 50px;
    h1{
        margin-bottom: 25px;
    }
    .formulario{
        margin-bottom: 25px;
            .selecEventos-item{
                margin-left: 10px;
                padding: 25px;
            }
        }
    .form-control{
        border-color: black;
    }
    .btn{
        border-color: black;
    }
    .form-check-input{
        border-color: black;
    }
} 


/*Estilo Mobile*/
@media (max-width: 480px){
    
    /*INDEX*/
    .main{
        h2{
            padding-top: 25px;
            text-align: center; 
        }
        p{
            padding: 25px;
            text-align: center;
        }
    }

    .eventos{
        text-align: center;
        .ev{
            text-align: center;
            p{
                text-align: justify;
                padding: 10px;
            }
        }
    }

    /*FAQ*/
    .faq{
        img{
        display: none;
        }
        margin-bottom: 120px;
    }

    /*PORTAFOLIO*/
    .portafolio{
        padding: 25px;
        .img{
            margin-bottom: 15px;
            .vert{
                margin-left: 10%;
            }
        }
    }

    /*ABOUT*/
    .about{
        .integrante{
            margin-bottom: 20px;
            padding: 10px;
        }
    }
}

/*ESTILO TABLETS*/
@media (min-width:480px) and (max-width: 900px)  {
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    /*INDEX*/
    .main{
        h2{
            padding-top: 25px !important;
            text-align: center;
        }
        p{
            color: white;
            padding: 25px !important;
            text-align: center;
        }
    }
    .eventos{
        height: 40%;
        text-align: center;
    .ev{
        text-align: center;
            p{
                text-align: justify;
                padding: 10px;
            }
        }
    }

    .call2{
        margin-top: 20px;
        height: 600px;
    }
    /*FAQ*/
    .faq{
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
    }
    /*PORTAFOLIO*/
    .main-port{
        overflow-x: hidden;
        margin-bottom: 15%;
        .port{
            .portafolio{
                padding: 25px;
                .img{
                    margin-left: 160px;
                    margin-bottom: 15px;
                    margin-right: 0px;
                    max-width: 100%;
                }
                .imgvert{
                    margin-left: 225px !important;
                }
            }
        }
        
    }

    /*ABOUT*/
    .about{
        .integrante{
            margin-bottom: 20px;
            padding: 10px;
            margin-left: 50px;
        }
    margin-bottom: 100px;
    }
}


/*Estilo Desktop*/
@media (min-width: 992px){
    /*NAV*/
    .navbar-nav{
        margin-left: auto; 
    }

    /*FOOTER*/

    footer{
        .social{
            padding-left: 300px;
            padding-top: 50px;
        } 
        .footer-text{
        padding-left: 10px;
        padding-top: 10px;
        } 
    }

    /*INDEX*/
    /*MAIN*/
    .main{
        height: 525px;
        .maintext{
            padding-top: 150px;
            h2{
                font-size: 50pt;
            }
            p{
                font-size: 30pt;
            }
        }
    }
    

    /*SECCION EVENTOS*/
    .ev{
        background-color: rgb(207, 207, 207);
        height: 600px;
        justify-content: center;
        h1{
            padding: 25px;
        }  
        p{
            background-color: #6b7aad;
            padding: 10px;
        } 
        .eventos{
            margin-top: 10px;
            display: inline-block;
            img{
                border: 3px solid #6b7aad;
                margin-left: 120px;
                margin-right: 120px;
                margin-top: 30px;
                margin-bottom: 15px;
                width:250px; 
                height:250px;
                &:hover{
                    transform: scale(0.75, 0.75);
                }
            }
            .et{
            display: inline;
            text-align: center;
            }
        }    
    }

    /*JUMBOTRON CALL2ACTION*/
    .call2{
        height: 600px;
        opacity: 0.90;
        background-position: center;
        background-size: cover;
        padding: 150px;
        h1{
            font-weight: 900 !important;
            font-size: 70pt;
        }
        &:hover{
            opacity: 1; 
        }
    }

    .jumbotron{
        margin-top: 0;
        padding-bottom: 500px;
        .container{
            text-align: center;
        }
    }

    /*INICIO DE LA PAGINA PORTAFOLIO*/
    .main-port{
        margin-bottom: 97px;
    }
    .portafolio{
        padding: 15px;
        .img{
        margin-top: 15px;
        margin-bottom: 15px;
            .vert{
                margin-left: 70px;
            }
        }
    }

    /*ABOUT*/
    .about{
        margin-bottom: 97px;
        h1{
            margin-bottom: 25px;
            text-align: center;
        }
        .integrante{
            margin: 50px !important;
            img{
                padding: 50px 50px 0px 50px;
            }
        }
        .card-title{
            text-align: center;
        }
        .card-text{
            padding-bottom: 25px;
        }
    }
    /*CONTACTO*/
    .btn-reset{
        margin-left: 25px;
    }

}

